button{
    
    background-color: #5879c7;
    justify-content: center;
    border: none;
    width: 200px;
    padding: 15px 30px;
    margin-left: 20px;
    font-size: 1em;
}
input[type="text"]{
    padding:0.9%;
    margin-left: 50px;
    font-size: 20px;
    border:0;
    font-weight: lighter;
    background-color: transparent;
    outline: none;
    color: white;
  }
    
  