
body{
    background-color: #9ccef4;
    margin: 0;
    padding: 0;
    font-family: "Raleway";
    font-size: 1.2em;
    
    
}
.search{
    background-color: #759eda;
    padding: 5px 0 25px 0 ;
    margin-bottom: 80px;
    
}

.main-1,.main-1-1 {
display: flex;
flex-direction: row;
text-align: center;
justify-content: space-between;
}
.main-1 span{
    font-size: 1.3em;
    
}
.main-display{
    text-align: center;
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  margin-bottom: 90px;
}
.main-display p{
    color: white;
    margin-left: 0px;
    margin-bottom: 35px;
}
.main-display span{
    font-weight: bold;
}
.main-1{
   margin-bottom: 40px;
   
   width: 300px;
   
}
.main-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:0 10% 0 10%;

}
.main-2-1{
    text-align: center;
    margin: 10px;
    
}
.main-1-1{
    display: flex;
    
}
.logo{
    margin: 40px 0 40px 0;
    
}